---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<div class="flex items-center space-x-4">
  <img
    class="w-7 h-7 rounded-full"
    src="/public/PD-favicon.png"
    alt="Petites Delicias Favicon"
  />
  <a href={href} class="font-medium dark:text-white hover:underline"> {name}</a>
</div>
