---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<a
  class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800 hover:bg-primary-800 hover:text-slate-200"
  href={href}
>
  {name}
</a>
